<html>
	
	<head>
		<style type="text/css">
a:link {color:white}	
a:visited {color:white}
a:hover {color: white}	
a:active {color: white;}
</style>
	</head>
	<body bgcolor="black">
<ul style="margin-left:-22px;">
	<font color="white">
	<li><a href="/device/" target="main">Device</a></li>
	<ul style="margin-left:-20px;">
	<li><a href="/device/search/" target="main">Search</a></li>
	<li><a href="/device/adddev" target="main">Add Device</a></li>
	<li><a href="/device/deldev" target="main">Del Device</a></li>
	<li><a href="/device/chndev" target="main">Change Device</a></li>
	</ul>
	
	<li><a href="/system/" target="main">System</a></li>
	<ul style="margin-left:-20px;">
	<li><a href="/system/status/" target="main">System Status</a></li>
	<li><a href="/system/run_command" target="main">Run Command</a></li>
	<li><a href="/system/auto_install" target="main">Auto Install</a></li>
	<li><a href="/system/auto_install_status" target="main">Install Status</a></li>
	<li><a href="/system/auto_install_package" target="main">Package Management</a></li>
	<li><a href="/system/cron" target="main">System Cron</a></li>
	<li><a href="/system/shutdown" target="main">Shutdown</a></li>
	<li><a href="/system/whois" target="main">Whois</a></li>
	<li><a href="/system/dig" target="main">Dig</a></li>
	<li><a href="/logout" target="">Logout</a></li>
	</ul>
	
	<li><a href="/usermgm" target="main">User</a></li>
	<ul style="margin-left:-20px;">
	<li><a href="/useradd/" target="main">Add User</a></li>
	<li><a href="/userdel/" target="main">Del User</a></li>
	<li><a href="/userchpasswd" target="main">Change Password</a></li>
	</ul>
	</font>
</ul

	</body>