{% extends "base.html" %}

                {% block title.super %}
                {% endblock %}
                
                {% block nav_bar %}
                    <a href="/admins/right">OSMS 1.2</a>/<a href="/system">System</a>/Auto Install
                {% endblock %}

{% block main_body %}

          <form enctype="multipart/form-data" id="form1" name="form1" method="post" action="">
           {% if show_upload_form %}
          <input type="hidden" name="Type" value="UPLOAD_FILE" />
          <p><label>安装包名称 &nbsp;<input type="text" maxlength="" name="dst" /></p>
          <p><label>设备地址   &nbsp;&nbsp;&nbsp;<input type="text" maxlength="" name="ip" /></p>
          <p><label>选择安装包 &nbsp;<input type="file" name="file" /></p>
          <p>安装包内容：</p>
          <p><textarea name="package_content" cols="40" rows="10"></textarea></p>
          <p><input type="submit" name="Button" id="button" value=" 提交 " /></p>
          <font color="red"><p>使用makeself打包并上传后，发送给远程服务端后将开启后台线程安装，结果可以通过Install Status菜单查询。</p></font>
          <font color="red"><p>请参阅makeself的相关文档。</p></font>
           {% endif %}

           
            {% for msg in error %}
                {{ msg }} <br />
            {% endfor %}

            
            {% if fileinfo %}
                {% if fileinfo.online %}
                    <p>上传成功，是否发送到远程服务器运行？</p>
                {% else %}
                    <p>上传成功，但是远程设备未运行服务端。。。</p>
                {% endif %}
                <p>名称：{{ fileinfo.name }}</p>
                <p>内容：{{ fileinfo.content }}</p>
                <p>路径：{{ fileinfo.path }}</p>
                <input type="hidden" name="name" value="{{ fileinfo.name }}" />
                <input type="hidden" name="content" value="{{ fileinfo.content }}" />
                <input type="hidden" name="path" value="{{ fileinfo.path }}" />
                <input type="hidden" name="ip" value="{{ fileinfo.ip }}" />
                <input type="hidden" name="Type" value="SEND_TO_REMOTE" />
                {% if fileinfo.online %}
                    <font color="blue"><p>设备：{{ fileinfo.ip }} (在线)</p></font>
                    <p><input type="submit" name="Button" id="button" value=" 提交 " /></p>
                {% else %}
                    <font color="red"><p>设备：{{ fileinfo.ip }} (离线)</p></font>
                    <p>请首先<a href="/device/adddev">添加设备</a>，或检查到设备的网络连接是否正常。</p>
                {% endif %}
            {% endif %}
            
    {% if form_empty_error %}
        <font color="red"><p>请检查表单字段，不可为空。</p></font>
    {% endif %}
    
    {% if error_transfer %}
        <font color="red"><p>发送到远程服务器失败，请检查。</p></font>
    {% endif %}
    
    {% if success_transfer %}
        <font color="red"><p>安装包已经发送到远程服务器并开始执行，请稍后检查执行结果。</p></font>
    {% endif %}
            
{% endblock %}


