<html>
    <head>
        <title>
            {% block title %}
            OpenSource Server Management System            
            {% endblock %}
        </title>
    </head>
    <body>

<table border="0">
    <tr height="5%">
        <td>
<font color="red">
{% block nav_bar %}
{% endblock %}
</font>
        </td>
    </tr>

<tr height="90%">
    <td>
{% block main_body %}
{% endblock %}
    </td>
</tr>


            <tr height="5%">
                <td>
<font color="green">
{% block powered_by %}
开源运维管理系统 OSMS 1.2
Powered By <a href="https://www.djangoproject.com/" target="_blank">Django</a> {{ info.get_django_version }}
Powered By <a href="http://python.org" target="_blank">Python</a> {{ info.get_python_version }}
{{ info.get_sys_platform }}
{% endblock %}
</green>
                </td>
           </tr>
        </table>

    </body>
</html>
