{% extends "base.html" %}

                {% block title.super %}
                {% endblock %}
                
                {% block nav_bar %}
                    <a href="/admins/right">OSMS 1.2</a>/<a href="/device">Device</a>/Add Device
                {% endblock %}

{% block main_body %}
<br />
<script type="text/javascript">
window.onload=function() {
  document.getElementById('POSITION').focus()
}
</script>
        <form id="form1" name="form1" method="post" action="">
           {% if show_ip_form %}
          <label>设备IP &nbsp;
          <input type="text" name="IP" />
          <input type="hidden" name="Type" value="ADD_IP" />
          <input type="submit" name="Button" id="button" value=" 提交 " />
           {% endif %}
          
          {% if ERROR_CONNECT %}
          <font color="red"><p>无法连接到远程主机，填写SSH登录信息自动部署服务端到远程主机.</p></font><br />
          设备地址：{{ IP }} <br />
          SSH用户名：<input type="text" name="user" value="" />&nbsp;
          密码：<input type="password" name="pass" value="" />
          <input type="hidden" name="Type" value="AUTO_INPLEMENT" />
          <input type="hidden" name="ip" value="{{ IP }}" />
          <input type="submit" name="Button" id="button" value=" 提交 " />
          {% endif %}
           
        {% if show_device_form %}
        <fieldset>
      <legend><div style="size:15">从设备获取到以下信息：</div></legend>
        <div style="color:blue;">
            IP地址：{{ DBDA.IP }}<br />
            CPU: {{ DBDA.CPU }}<br />
            内存：{{ DBDA.MEM }}<br />
            磁盘：{{ DBDA.DISK }}<br />
            支持虚拟化：{{ DBDA.VIRTUED }}<br />
            网卡：{{ DBDA.NIC }}<br />
            显卡：{{ DBDA.VGA }}<br />
            操作系统：{{ DBDA.OS }}<br />
            架构：{{ DBDA.ARCH }}<br />
            内核：{{ DBDA.KERNEL }}<br />
        </div>
        </fieldset>
            <br />
            <input type="hidden" name="IP" value="{{ DBDA.IP }}" />
            <input type="hidden" name="CPU" value="{{ DBDA.CPU }}" />
            <input type="hidden" name="MEM" value="{{ DBDA.MEM }}" />
            <input type="hidden" name="DISK" value="{{ DBDA.DISK }}" />
            <input type="hidden" name="VIRTUED" value="{{ DBDA.VIRTUED }}" />
            <input type="hidden" name="NIC" value="{{ DBDA.NIC }}" />
            <input type="hidden" name="VGA" value="{{ DBDA.VGA }}" />
            <input type="hidden" name="OS" value="{{ DBDA.OS }}" />
            <input type="hidden" name="ARCH" value="{{ DBDA.ARCH }}" />
            <input type="hidden" name="KERNEL" value="{{ DBDA.KERNEL }}" />
             <fieldset>
          <legend><div style="size:15">以下信息需要手工输入：</div></legend>
            <label>设备位置 &nbsp;
            <input id="POSITION" type="text" name="POSITION" />
            <label>设备状态 &nbsp;
            <input type="text" name="STATE" />
            <label>运行服务 &nbsp;
            <input type="text" name="SERVER" />
            <label>负责人 &nbsp;
            <input type="text" name="OWNER" />
            <input type="hidden" name="Type" value="ADD_ALL" />
            <input type="submit" name="Button" value = " 提交 ">
             </fieldset>
        {% endif %}
        
        
        {% if show_all_form %}
        <fieldset>
        <legend><div style="size:15">已经增加了以下信息：</div></legend>
        {% for key,value in DBDA.items %}
        {{ key }} : {{ value }} <br />
        {% endfor %}
        </fieldset>
        {% endif %}
        </form>
        
        {% if show_exists %}
        <p>记录已经存在，请确认后再添加！</p>
        {% endif %}
        <br />
{% endblock %}


{% block powered_by.super %}
{% endblock %}
